---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const pages = await getCollection('pages');

  return pages.map(page => ({
    params: { slug: page.slug },
    props: page,
  }));
}

const { data, body } = Astro.props;
---

<BaseLayout title={data.title}>
  <article>
    <h1>{data.title}</h1>
    <div set:html={body} />
  </article>
</BaseLayout>
