<footer class="footer">
  <img
  src={`${import.meta.env.BASE_URL}assets/brush.svg`}
  alt=""
  class="footer-brush"
/>


  <div class="footer-inner">
    <p>© {new Date().getFullYear()} Aikido Dojo Braunau</p>
    <a href={`${import.meta.env.BASE_URL}legal`}>Impressum & Datenschutz</a>
  </div>
</footer>
