<nav class="nav">
  <div class="logo">AIKIDO</div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/verein">Verein</a></li>
    <li><a href="/training">Training</a></li>
    <li><a href="/news">Neuigkeiten</a></li>
    <li><a href="/events">Veranstaltungen</a></li>
    <li><a href="/kontakt">Kontakt</a></li>
  </ul>
</nav>
