<nav class="nav">
  <div class="nav-inner">
    <a href="/aikido/" class="logo">Aikido</a>

    <ul class="nav-links">
      <li><a href="/aikido/termine">Termine</a></li>
      <li><a href="/aikido/news">News</a></li>
      <li><a href="/aikido/kontakt">Kontakt</a></li>
      <li><a href="/aikido/legal">Impressum</a></li>
    </ul>
  </div>

  <img src="/assets/brush.svg" alt="" class="nav-brush" />
</nav>
