<nav class="nav">
  <a href="/aikido/" class="logo">
    <img src="/images/logo.svg" alt="Aikido Logo" />
  </a>


  <a href="/aikido/ueber-uns">Über uns</a>
  <a href="/aikido/kontakt">Kontakt</a>
  <a href="/aikido/trainingsplan">Trainingsplan</a>
  <a href="/aikido/foto-galerie">Foto-Galerie</a>
  <a href="/aikido/termine">Termine</a>
  <a href="/aikido/legal">Impressum</a>

</nav>
