---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{title}</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/base.css" />
  <link rel="stylesheet" href="/styles/navigation.css" />
  <link rel="stylesheet" href="/styles/components.css" />
  <link rel="stylesheet" href="/styles/legal.css" />

</head>
<body>
  <Navigation />
  <main class="container">
    <slot />
    <ScrollTop />
  </main>
  <Footer />
</body>
</html>
